__mocks__/**/*
.github
.qlty
.vscode
*.vsix
coverage
dist/**/*.js.map
images/*.pptx
node_modules
scripts
src
.gitignore
.vscodeignore
DEVELOPMENT.md
test-report.html
tsconfig.json
*.config.{mjs,js,mts,ts}
*.setup.{mjs,js,mts,ts}