name: test-schedule

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  build_artifacts:
    name: Build Artifacts
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
